/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.jumbotron{
  background-color: black;
  color: white;
}
.jumbotron h1{
  font-weight: bolder;
}
